@mixin coursesCard {
    .courses-card {
        border: 3px #f5f5f5 solid;
        border-radius: 10px;
        padding: 1px;
        margin: 5% 0;
        .card-head {
            position: relative;
            .courses-img-name {
                background-color: #e0a800;
                color: white;
                text-align: center;
                display: block;
                width: 60%;
                font-weight: bolder;
                font-size: large;
                position: absolute;
                padding: 2% 0.5%;
                margin-top: 10%;
            }
            .card-img-top {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
    
                width: 100%;
                max-height: 120px;
            }
        }
    
        .cours-name {
            font-size: 17px;
            font-weight: 500;
            margin: 10px 0;
        }
    
        .courses-teacher {
            // padding-left: 0;
            .teacher-name {
                font-size: 14px;
            }
        }
        .courses-rank {
            // margin: -20%;
    
            .rank-start-rating {
                letter-spacing: -5px;
            }
            i {
                font-size: 13px !important;
                letter-spacing: 0;
            }
        }
    
        .card-footer {
            .price-area {
               
                padding: 12px 5px 15px;
                border-right: 1px solid #ded2d2;
            }
            .cours-price{
                margin: 0;
                border: 1px solid #e0a800;
                text-align: center;
                font-size: large;
                padding: 3%;
            }
            .manat-img{
                width: 15px;
            }
    
            .more-info-btn{
                
                padding: 15px 0;
                text-align: center;
                .btn{
                    padding: 0px 20px;
                    font-size: 20px;
                    color: aliceblue!important;
                }
    
            }
        }
    }
}