.intro-bg{
    background-image: url(/src/img/713962935fccf30f7d1aaaaaaaaaaaaaaaaa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 57vh;
}